.navbar navbar-default navbar-fixed-top {
    margin-bottom: 0;
    background-color: #f4511e;
    border: 0;
    font-size: 12px;
    letter-spacing: 4px;
    opacity:0.9;
}

body {
	background-color: #7be58b;
}

jumbotron {
	background-color: #f4511e;
	color: #ffffff;
}

panel-body {
	width: 1020px;
	margin: 50px auto;
}

truckGoogleMap {
	width: 100%;
	height: 400px;
}

table table-bordered {
	cellspacing: 2px;
	width: 100%;
}

path {
	stroke: black;
}

path:hover {
	opacity: 0.9;
}

rect:hover {
	fill: blue;
}

.axis {
	font: 10px sans-serif;
}

.legend {
	margin-bottom: 76px;
	display: inline-block;
	border-collapse: collapse;
	border-spacing: 0px;
}

.legend tr {
	border: 1px black;
}

.legend td {
	padding: 4px 5px;
	vertial-align: bottom;
}

.legendFreq, .legendPerc {
	align: right;
	width: 50px;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

.node {
	cursor: pointer;
}

.overlay {
	background-color: white;
}

.node circle {
	fill: white;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node text {
	font-size: 12px;
	font-family: Georgia;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.templink {
	fill: none;
	stroke: light orange;
	stroke-width: 3px;
}

.ghostCircle.show {
	display: block;
}

.ghostCircle, .activeDrag .ghostCircle {
	display: none;
}